body {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("https://rare-gallery.com/uploads/posts/4548246-pokmon-pixel-art.png");
    background-size: auto 1200px;
    background-repeat: no-repeat;
}

header {
font-size: 2em;
text-align: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}
h2 {
    margin: 0;
}
p{
    border-style: solid;
    letter-spacing: 1px;
    padding: 10px;
}
#open_button {
    text-align: center;
}
#close_button {
    text-align: center;
}
button {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:black;
    background-color:bisque;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:hover {background-color:tan}

button:active {
  background-color: tan;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
dialog {
    line-height: 1.75em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

@media (min-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1440px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1920px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.grid-container > article {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background-color: aqua;
    border-style: solid;
    border-radius: 15%;
}

.grid-container > article:hover {
    box-shadow: 0 8px 16px 0;
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid-container p {
    margin: 0.3em 0;
    font-size: 0.7em;
    height: 175px;
}