body {
  position: relative;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://rare-gallery.com/uploads/posts/4548246-pokmon-pixel-art.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 4em;
  text-align: center;
  color: #0A285F;
  font-family: 'Oswald', sans-serif;
}
#header-img1 {
  position: absolute;
  scale: 40%;
  transform: translate(20%, -197%);
}
#header-img2 {
  position: absolute;
  scale: 30%;
  transform: translate(850%, -250%);
}
#header-img3 {
  position: absolute;
  scale: 20%;
  transform: translate(680%, -439%);
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: -25px;
  margin-bottom: 0;
  font-family: 'VT323', monospace;
}
h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3em;
  font-family: 'VT323', monospace;
}


button {
  display: inline-block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 15px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color:#D5A100;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px grey;
  font-family: 'VT323', monospace;
  width: 40%;
}
button:hover {
  background-color:#D5A100;
}

button:active {
  background-color:#0075BE;
  box-shadow: 0 5px grey;
  transform: translateY(4px);
}
dialog {
  line-height: 2em;
  line-height: 35px;
  background-color: #FFCC00;
  color:#0A285F;
  border-radius: 50px;
  max-height: 85%;
  width: 50%;
  font-family: 'VT323', monospace, bold;
  
}

#open_button {
  text-align: center;
}
#close_button {
  text-align: center;
}
#pokedex2 {
  text-align: center;
  margin: 2px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}
#type2 {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: -20px;
  font-family: 'Oswald', sans-serif;
}
#picture {
  position: absolute;
  transform: translate(90%, 10%);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media (min-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  #header-img1 {
    opacity: 0%;
  }
  #header-img2 {
    opacity: 0%;
  }
}

@media (min-width: 960px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #header-img1, #header-img2, #header-img3 {
    opacity: 0%;
  }
}
@media (min-width: 1440px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #header-img1, #header-img2, #header-img3{
    opacity: 0%;
  }
}
@media (min-width: 1920px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #header-img1, #header-img2, #header-img3 {
    opacity: 100%;
  }
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: #FFCC00;
  border-color: #0075BE;
  border-style: solid;
  border-radius: 50px;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0;
-webkit-animation: float 3s linear infinite;
        animation: float 3s linear infinite;
}

@keyframes float {
  0% {
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
            transform: translateY(-50px);
    opacity: 1;
  }
  100% {
            transform: translateY(0px);
    opacity: 1;
  }
}


.grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-container p {
  margin: 0.3em 0;
  font-family: 'VT323', monospace, bold;
  padding: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 22px;
  border-style: solid;
  border-radius: 20px;
  border-color: #0075BE;
  color: #0A285F;
}
